ul {
	list-style: none;
}
.container {
	margin-top: 50px;
}
.coffeName {
	width: 100px;
}
.coffe-table {
	margin: 0 auto;
}

.coffeTypes {
	margin-left: 30px;
	width: 800px;
}
.quantity {
	border: 1px solid #000;
	padding: 5px 13px;
	border-radius: 50%;
}
.coffeItem {
	width: 250px;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	padding: 0px 5px; 
}

.coffeItem:first-child > button:first-child{
	background-color:#FF4136;
	border: 0px;
}
.coffeItem:first-child > button:first-child:hover{
	opacity: 0.8;
}
.coffeItem:nth-child(2){
	width: 250px;
}
.coffeItem:nth-child(2) > button:first-child{
	background-color:#39CCCC;
	border: 0px;
}
.coffeItem:nth-child(2) > button:first-child:hover{
	opacity: 0.8;
}
.coffeItem:nth-child(3) > button:first-child{
	background-color:#FF851B;
	border: 0px;
}
.coffeItem:nth-child(3) > button:first-child:hover{
	opacity: 0.8;
}
.coffePrice {
	width: 150px;
	padding: .75rem 0px;
}

.price-list {
	margin: 40px auto;
}
.quantity-input {
	width: 50px;
}

.clear {
	height: 70%;
}